body {
    background-color: skyblue;
}

#balloon1 {
    position: absolute;
  
    display: none;
}

#balloon2 {
    position: absolute;
    left: 125px;
    display: none;
}


#balloon8 {
    position: absolute;
    left: 225px;
    display: none;
}

#balloon3 {
    position: absolute;
    left: 300px;
    display: none;
}

#balloon4 {
    position: absolute;
    left: 400px;
    display: none;
}

#balloon5 {
    position: absolute;
    left: 500px;
    display: none;
}

#balloon6 {
    position: absolute;
    left: 600px;
    display: none;
}

#balloon7 {
    position: absolute;
    left: 700px;
    display: none;
}

#score {
    position: absolute;
    top: 8%;
    left: 5%;
}

#game-container {
    position: absolute;
    left: 35%;
}

.game-mechanics 
{
    position: absolute;
    top: 150px;
    right: 200px;
}
#start {
    padding: 20px;
    width: 200px;
    text-align: center;
    color: white;
    background-color: green;
    position: absolute;
    top: 80%;
    left: 10%;
}